.container {
    margin: 0;
    position: absolute;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    
}
 .navbar {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

 }
 
 svg {
    color: white;
    padding-left: 60px;
 }

  ul li {
    list-style-type: none;
  }

  .navbar-links {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 20px;
    padding: 20px 30px;
    text-align: center;

  }

  .navbar-links a {
    display: block;
    color: white;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    font-size: 20px;
    color: #2bb7da;
  }
  
   .primary-button {
background: linear-gradient(to right, limegreen, #2bb7da); 
color: white;
padding: 15px 30px;
border-radius: 50px;
font-size: 15px;
font-weight: 700;
margin: auto;
display: block;
transition: 0.25s ease;
}
   
   .primary-button:hover {   
    opacity: 0.7;
   }
   @media (max-width: 1024px) {
    .navbar-links{
        background: navy;
        border-radius: 10px;
    }
    .primary-button{
        display: none;
    }
    
   }



   
